.field-type-image .field-item {
  float: left;
  margin: 10px;
}

.field-type-image:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.field-type-image .field-item img {
  border: 3px solid white;
  box-shadow: 0 0 1px #666, 3px 3px 10px 1px #999;
  border-image: initial;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  -moz-transition: -moz-transform 0.1s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.field-type-image .field-item img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 0 1px #666, 0 0 10px rgba(0, 0, 0, 0.5);
}
